.main-content{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}
body{
    /* background-color: #F1EAFF; */
    width: 100%;
        height: 100%;
        --color: #E1E1E1;
        background-color: #F3F3F3;
        background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
            linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
        background-size: 55px 55px;
}
.main-heading{
    color: #7743DB;
    font-size:56px;
}
.top-container{
    background-color: #D0A2F7;
}
.para{
    background-color: #FFD1E3;
    width: 450px;
    height: 480px;
    padding:10px 10px 10px 10px;
    margin:50px 50px 50px 0px;
}
/* navbar */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* HEADING ANIMATION */
.parent-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 1 rem; /* Adjust based on your layout */
}
.main-heading{
    position: relative;
    color: hsl(0, 0%, 68%);
    font-weight: bold;
    font-family: "Anonymous Pro", monospace;
    letter-spacing: 7px;
    overflow: hidden;
    border-right: 2px solid hsl(0, 0%, 80%);
    white-space: nowrap;
    animation: typewriter 4s steps(44) 1s 1 normal both,
      blinkTextCursor 500ms infinite;
    text-align: center;
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 710px;
    }
  }
  @keyframes blinkTextCursor {
    from {
      border-right-color: hsl(0, 0%, 80%);
    }
    to {
      border-right-color: transparent;
    }
  }

  /* h1 inside mainimage */
  h1 {
    color:#f8d0fe;
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer;
  }
  
  h1 span {
    transition: 0.5s ease-out;
  }
  h1:hover span:nth-child(1) {
    margin-right: 5px;
  }
  h1:hover span:nth-child(1):after {
    content: "'";
  }
  h1:hover span:nth-child(2) {
    margin-left: 30px;
  }
  h1:hover span {
    color: #f8d0fe;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
  }
/* CSS for the hover effect */
.para {
    background-color: #FFD1E3;
    width: 450px;
    height: 450px;
    padding: 10px 10px 10px 10px;
    margin: 50px 50px 50px 0px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 20px;
    /* Smooth transition for transform and box-shadow */
}

.para:hover {
    transform: scale(1.05);
    /* Slightly increase the size of the div */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    /* Add a shadow effect */
}
.img-part{
    background-color: blue;
    

}
.fa-icons{
    font-size:20px;
}
/* CSS for the hover effect */


.fa-icons:hover {
    font-size: 28px;
    /* Size on hover */
    color: #007bff;
    /* Color on hover */
}


.shop-img{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}
/* CSS for the hover effect */
.shop-img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transition for transform and box-shadow */
}

.shop-img:hover {
    transform: scale(1.05);
    /* Slightly increase the size of the image */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    /* Add a shadow effect */
}
.mob-heading{
    color: RED;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff;
    transition: text-shadow 0.3s ease; /* Smooth transition for the hover effect */

}
.mob-heading:hover {
    text-shadow: 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff;
}
.h2-heading{
    color:#CD8D7A;
}
.img-type1{
    height:300px;
    width:280px;
}
.img-typen{
    width:305px;
}

/* Social media start */

.main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
}

.whatsapp {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #00ff00;
}

.card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
}

.linkedin {
    margin-top: 1.5em;
    margin-left: -0.9em;
    fill: #0077b5;
}

.card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
}

.github {
    margin-top: -0.6em;
    margin-left: 1.2em;
}

.card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
}

.discord {
    margin-top: -0.9em;
    margin-left: -1.2em;
    fill: #8c9eff;
}

.card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #00ff00;
}

.card1:hover .whatsapp {
    fill: white;
}

.card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #0077b5;
}

.card2:hover .linkedin {
    fill: white;
}

.card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: black;
}

.card3:hover .github {
    fill: white;
}

.card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: red;
}

.card4:hover .discord {
    fill: white;
}
/* Social  media end */
.social-media{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* CSS for the hover effect */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transition for transform and box-shadow */
}

.card:hover {
    transform: scale(1.05);
    /* Slightly increase the size of the card */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    /* Add a shadow effect */
}/* Card hover */

/* BAckground */
.container-ui {
    
        width: 100%;
        height: 100%;
        background: radial-gradient(
              circle farthest-side at 0% 50%,
              #282828 23.5%,
              rgba(255, 170, 0, 0) 0
            )
            21px 30px,
          radial-gradient(
              circle farthest-side at 0% 50%,
              #2c3539 24%,
              rgba(240, 166, 17, 0) 0
            )
            19px 30px,
          linear-gradient(
              #282828 14%,
              rgba(240, 166, 17, 0) 0,
              rgba(240, 166, 17, 0) 85%,
              #282828 0
            )
            0 0,
          linear-gradient(
              150deg,
              #282828 24%,
              #2c3539 0,
              #2c3539 26%,
              rgba(240, 166, 17, 0) 0,
              rgba(240, 166, 17, 0) 74%,
              #2c3539 0,
              #2c3539 76%,
              #282828 0
            )
            0 0,
          linear-gradient(
              30deg,
              #282828 24%,
              #2c3539 0,
              #2c3539 26%,
              rgba(240, 166, 17, 0) 0,
              rgba(240, 166, 17, 0) 74%,
              #2c3539 0,
              #2c3539 76%,
              #282828 0
            )
            0 0,
          linear-gradient(90deg, #2c3539 2%, #282828 0, #282828 98%, #2c3539 0%) 0 0
            #282828;
        background-size: 40px 60px;
      
      
}

/* Feedback form */
.form-container {
    width: 400px;
    background: linear-gradient(#212121, #212121) padding-box,
        linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
}

.form-container button:active {
    scale: 0.95;
    
}

.form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
}

.form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
}

.form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
}

.form-container .form-group input::placeholder {
    opacity: 0.5;
}

.form-container .form-group input:focus {
    outline: none;
    border-color: #e81cff;
}

.form-container .form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
}

.form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
}

.form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
}

/* Responsive */
@media (max-width: 768px) {
    .shop-img{
        width:300px;
        height:300px;
    }
    .main-heading{
        font-size:40px;
    }
    .allcards{
        margin-top:10px;
        margin-left: 20px;
            margin-right: 20px;
    }
}